body {
	margin: 0px;
}

.about-image {
	text-align: center;
}

.about-text {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Futura Std Medium', 'questrial', sans-serif;
	padding-top: 15px;
	font-size: 18px;
}

.about-goal {
	font-weight: bold;
}